<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding"><%= t('.header',  :screen => "#{@schedule.screen.name if !@schedule.screen.nil?}") %></h1>
  </header>
  <div class="viewblock-cont">
    <%= render :partial => 'form', :locals => { :button_text => t(:create_model, :model => ConcertoTemplateScheduling::Schedule.model_name.human) } %>
  </div>
</section>
